// Navigation Styles here
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        .custom-layout(flex-start, center);
    }    
    nav{
        .custom-layout(flex-end, center);
       a{
           font-size: 2rem;
           margin-left: 20px;
           text-decoration: none;
           color: black;
        }
    }
    
}